.btnaddtolist {
    background: #16d47b;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    min-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    float: left;
  }
  
  .btnaddtolist p {
    font-family: 'Abel', sans-serif;
    font-size:42px;
    padding: 20px;
  }